<div class="container-fluid">
	<div class="row">
        <div class="col">
			<div id="time-chart"></div>
		</div>
	</div>
	<div class="row">
        <div class="col">
			<div id="time-range-chart"></div>
		</div>
	</div>
	<div class="row">
        <div class="col">
			<div id="map" style="height:500px;"></div>
		</div>
	</div>
	<div class="row">
        <div class="col">
			<div id="group-bar-chart"></div>
		</div>
	</div>
	<div class="row">
        <div class="col">
			<table class="dc-data-table"></table>
		</div>
	</div>
</div>